<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>home</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        Beers Styles
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
     <mat-list-item> <button mat-button fxFlexFill class="material-button">IPA</button> </mat-list-item>
     <mat-list-item> <button mat-button fxFlexFill class="material-button">APA</button> </mat-list-item>
     <mat-list-item> <button mat-button fxFlexFill class="material-button"> Imperial Stout</button> </mat-list-item>
    </mat-list>

  </mat-expansion-panel>

</mat-accordion>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>home</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        Hops
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
     <mat-list-item> <button mat-button fxFlexFill class="material-button">Chinook</button> </mat-list-item>
     <mat-list-item> <button mat-button fxFlexFill class="material-button">Amarillo</button> </mat-list-item>
    </mat-list>

  </mat-expansion-panel>

</mat-accordion>
