a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

mat-panel-title {
  flex-basis: 0;
}
mat-panel-description {
  flex-basis: 100%;
}

.material-button{
  text-align: left;
}
